@using WebsiteBanHang.Models
@model Product

@{
    ViewData["Title"] = "Sửa sản phẩm";
}

<h2>@ViewData["Title"]</h2>

<form asp-action="Edit" method="post" enctype="multipart/form-data">
    <input type="hidden" asp-for="Id" />

    <div class="mb-3">
        <label asp-for="Name" class="form-label"></label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="Price" class="form-label"></label>
        <input asp-for="Price" class="form-control" />
        <span asp-validation-for="Price" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="Description" class="form-label"></label>
        <textarea asp-for="Description" class="form-control"></textarea>
    </div>

    <div class="mb-3">
        <label asp-for="CategoryId" class="form-label">Danh mục</label>
        <select asp-for="CategoryId"
                class="form-select"
                asp-items="ViewBag.Categories">
            <option value="">-- Chọn doanh mục --</option>
        </select>
        <span asp-validation-for="CategoryId" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label class="form-label">chọn hình ảnh</label><br />
        @if (!string.IsNullOrEmpty(Model.ImageUrl))
        {
            <img src="@Model.ImageUrl" width="120" class="img-thumbnail mb-2" />
        }
    </div>

    <div class="mb-3">
        <label asp-for="ImageUrl" class="form-label">Thay ảnh </label>
        <input asp-for="ImageUrl" type="file" name="image" class="form-control" />
    </div>

    <button type="submit" class="btn btn-primary">Lưu thay đổi</button>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
